<section id="pricing">
    <div class="row pricing-content">
        <center>
            <%- include('../layouts/msg')  %> 
            <%- include('../layouts/errors')  %> 
        </center>
    </div>
    <div class="row pricing-content">
        <center>
            <h2>REDEFINIR LIMITE DE KEY</h2>
            <form method="POST" action="/moderador/limit">
                <div class="form-group">
                    <input style="font-family:Arial, FontAwesome" name="username" type="text" class="form-control" placeholder="&#xf007;   Usuário" required>
                </div>
                <div class="form-group">
                    <input style="font-family:Arial, FontAwesome" name="token" type="text" class="form-control" id="token" placeholder="&#xf084;   Token" required>
                </div>
                <p>Token necessário para confirmar que você é meu dono!</p>
                <button type="submit" class="button button-primary">Resetar limite!</button>
            </form>
            <div>
                <p> </p>
                <p>Voltar ao início!</p>
                <a class="button button-primary" href="/premium">Voltar</a>
            </div>
        </center>      
    </div>
</section>