<section id="pricing">
    <div class="row pricing-content">
        <center>
    <div class="col-lg-6">
   <div class="card mb-4">
<div class="card-header py-3">
 <div class="card-body">
 <div class="card m-3 text-center shadow">
   <h6 class="text-uppercase">SEU PERFIL</h6>
  <div class="text-center">
<img src="https://media3.giphy.com/media/xThuW98x8Sj5iyvwVa/giphy.gif?cid=ecf05e47bewddpzez641mbxgzdjg563f2v9tewubkpo0fdf9&ep=v1_gifs_search&rid=giphy.gif&ct=g" class="rounded-circle shadow mb-3" alt="logo" width="130px" height="130px">
  </div>
  <div class="copyright text-center my-auto">
 </form>
  <div class="col-xl-3 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<marquee><%= username %></marquee>
 <br>APIKEY : <%= apikey %> <br>
 </div> 
  <br>LIMITE : <%= limit %> <br>
</div>
 <p> </p>
 <p>SAIR DA SUA CONTA</p>
  <a class="button button-primary" href="/usuario/sair">SAIR DA CONTA</a>
  </div>
		<center>  
</section>